    </main>

    <footer class="main-footer">
      FOOTER CONTENT
    </footer>

  </div><%# main-container %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
