$highlight-color--primary: rebeccapurple;

$color--white: #fff;
$color--grey: #818285;
$color--light-grey: #bcbdc0;
$color--green: #06b8a5;
$color--light-green: #cce5e7;
$color--dark-green: #007b87;
$color--orange: #eb7f1d;
$color--light-orange: #fbe5d2;
$color--purple: #6e6697;
$color--light-purple: #e2e0ea;

$color--success: #5cb85c;  // green
$color--info: #5bc0de;     // blue
$color--warning: #f0ad4e;  // orange
$color--danger: #d9534f;   // red

$font-color--primary: $color--grey;
$font-color--secondary: $color--green;
$font-color--nav: $color--green;

$background-color--primary: $color--white;
$background-color--secondary: $color--white;
$background-color--tertiary: $color--white;
$background-color--footer: $color--white;

$border-color--primary: $color--light-grey;
