@mixin typography--primary {
  color: $font-color--primary;
  font-family: $font-family--primary;
  font-size: $font-size--primary;
  line-height: $line-height--primary;
  white-space: normal;
}

@mixin typography--secondary {
  color: $font-color--secondary;
  font-family: $font-family--secondary;
  line-height: $line-height--secondary;
  font-weight: normal;
  margin-bottom: $spacing--primary;
}

:root {
  @include typography--primary;
  font-size: $font-size--primary - 2px;

  @include bp(medium) {
    font-size: $font-size--primary - 1px;
  }

  @include bp(large) {
    font-size: $font-size--primary;
  }
}

#{$header-tags},
#{$content-tags} {
  margin: 0 0 $spacing--primary;
}

#{$content-tags},
#{$form-tags},
label {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  white-space: inherit;
}

#{$header-tags} {
  color: $font-color--secondary;
  font-family: $font-family--secondary;
  font-weight: 300;
}

.heading,
h1:not([class]) {
  font-size: $font-size--h1;
}

.subheading,
h2:not([class]) {
  font-size: $font-size--h2;
}

.subsubheading,
h3:not([class]) {
  font-size: $font-size--h3;
}

h4:not([class]) {
  font-size: $font-size--h4;
}

h5:not([class]) {
  font-size: $font-size--h5;
}

h6:not([class]) {
  font-size: $font-size--h6;
}

p:not([class]) {
  margin-bottom: $spacing--secondary;
}

a[href]:hover {
  color: $color--purple;
}

ul:not([class]) {
  list-style: disc;
  list-style-position: inside;
}

strong {
  font-weight: 700;
}
